// colors
$colors: (
  "primary": #db9e3f,
  "white": #ffffff,
  "light": #f9f9f9,
  "light-1": #d4d9de,
  "gray": #999999,
  "gray-1": #666666,
  "dark-1": #343440,
  "dark": #212222,
  "black": #000000,
); 

$border-color: map-get($map: $colors, $key: 'light-1');

// font-size
$base-font-size: 1rem;
$font-sizes: (
  "xxs": 0.6154,
  "xs": 0.75,
  "sm": 0.9,
  "base": 1,
  "lg": 1.075,
  "xl": 1.25,
);

$flex-jc: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
);

$flex-ai: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "stretch": stretch,
);

// spacing
// 0-5: 0 0.25 0.5 1 1.5 3
// .mt-1 => margin-top: 0.25rem;
// .pb-2 => padding-bottom: 0.5rem;
$spacing-types: (
  m: margin,
  p: padding,
);

$spacing-direction: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

$spacing-base-size: 1rem;
$spacing-sizes: (
  "0": 0,
  "1": 0.25,
  "2": 0.5,
  "3": 1,
  "4": 1.5,
  "5": 3,
);